    <ul class="list-group">
            <a href="pattern1" class="list-group-item list-group-item-action">CQ-Pattern 1: Which [CE1] [OPE] [CE2]?</a>
            Example: Which [Agent] [controls] [BatteryStorage] ? <br>
            Interpretation:  Show all individuals of type agent that control an individual of type battery storage
            <a href="pattern2" class="list-group-item list-group-item-action">CQ-Pattern 2: Which individuals are of type [CE]?</a> 
            Example: Which individuals are of type [BatteryStorage] ? <br>
            Interpretation: Show all individuals of type battery storage
            <a href="pattern3" class="list-group-item list-group-item-action">CQ-Pattern 3: How much does [CE] [DP]?</a>  
            Example: How much [voltage] does [GridNode] [have] ? <br>
            Interpretation: Show all grid node individuals and their corresponding voltage
            <a href="pattern4" class="list-group-item list-group-item-action">CQ-Pattern 4: What [CE1] do i need to [OPE] [CE2]?</a> 
            Example: What [Actuator] do i need to [control] [HVACSystem] ? <br>
            Interpretation: Show all individuals of type actuator that can control an individual of type HVAC-System      
    </ul>